<nav class="nav-bar">
  <ul>
    <li>
      <LinkTo @route="artists" class="nav-artists">
        Artists
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="albums" class="nav-albums">
        Albums
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="songs" class="nav-songs">
        Songs
      </LinkTo>
    </li>
  </ul>
</nav>
