<nav class="nav-bar">
  <ul>
    <li class="nav-index">
      <LinkTo @route="index">
        Ember Discography
      </LinkTo>
    </li>
    <li class="nav-artists">
      <LinkTo @route="artists">
        Artists
      </LinkTo>
    </li>
    <li class="nav-albums">
      <LinkTo @route="albums">
        Albums
      </LinkTo>
    </li>
    <li class="nav-songs">
      <LinkTo @route="songs">
        Songs
      </LinkTo>
    </li>
  </ul>
</nav>
