<nav class="nav-bar">
  <ul>
    <li class="index-li">
      <LinkTo @route="index" class="nav-index">
        <h1>Ember Discography</h1>
      </LinkTo>
    </li>
    <li class="artists-li">
      <LinkTo @route="artists" class="nav-artists">
        Artists
      </LinkTo>
    </li>
    <li class="albums-li">
      <LinkTo @route="albums" class="nav-albums">
        Albums
      </LinkTo>
    </li>
    <li class="new-li">
      <LinkTo @route="new" class="nav-new">
        Create new
      </LinkTo>
    </li>
  </ul>
</nav>
