.artists-container {
  width: 40%;
  min-width: 550px;
  margin-left: 30%;
  text-align: center;

  input {
    width: 80%;
    margin-left: 10%;
  }
}

.artist {

  display: grid;
  grid-gap: 0;
  grid-template-columns: 128px repeat(2, 1fr);
  background-color: white;
  border-radius: 3px;
  margin: 3% 0 3% 0;
  box-shadow: $shadow-style;
  align-items: center;

  .image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    img {
      vertical-align: middle;
      border-radius: 3px;
      width: 128px;
      height: 128px;
    }
  }

  .artist-name {
    grid-column: 2 / 4;
    background-color: #e1e3e6;
    border-top-right-radius: 3px;
    padding-left: 5%;
    height: 105px;
  }

  .albums-count {
    cursor: pointer;
    grid-column: 3 / 4;
    padding-left: 5%;
    height: 20px;
  }

  .dropdown-icon {
    float: right;
    margin-right: 25px;
  }

}

.albums {
  grid-column: 1 / 4;
  padding-left: 3%;
  border-top: $border-style;
  padding-top: 10px;
}

.album {
  min-height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: $border-style;
}

textarea, input {
  display: block;
  width: 80%;
  margin-left: 10%;
}

.artist-buttons {
  text-align: left;

  button {
    color: white;
    border-radius: 3px;
    height: 22px;
    padding: 0 3px 0 3px;
    transition: 0.3s;
  }

  button:hover {
    opacity: 0.7;
    font-weight: bolder;
  }

  .edit {
    background-color: #3980e3;
  }
  
  .delete {
    background-color: #f4511e;
  }

  .save {
    background-color: #00ad17;
  }
}
