<h1>Albums</h1>
<Filter @resources={{@model}} @filterKey="title" as |results|>
  <div class="albums-container">
    <ul class="albums">
      {{#each results as |album|}}
        <Album 
          @album={{album}} 
          @delete={{this.delete}}
          @update={{this.update}}
        />
      {{/each}}
    </ul>
  </div>
</Filter>